html {
    box-sizing: border-box;
    height: 100%;
    font-size: 20px;
    background-color: #F8F9FA;
}

body, header, footer {
    font-family: "Onest", sans-serif;
    color:  #212529;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: 100%;
}

*, *::after, *::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 58rem;
    min-height: 100%;
    padding-top: 11.6rem;
    margin: 0 auto;   
    @media (max-width: 1200px) {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    @media (max-width: 640px) {
       padding-top: 36.25vw; 
   }
    @media (max-width: 320px) {
    padding-top: 32.5vw;
    }
}


a {
    color:  #343A40;
}

.container h1 {
    
    font-weight: 500 !important;
    max-width: 43rem;
    line-height: 2.75rem;

    @media (min-width: 1921px)  {
        font-size: 2.604vw;   
    }
    @media (max-width: 1920px)  {
        font-size: 2.5rem;    
    }
    @media (max-width: 900px) and (min-width: 641px) {
        font-size: 7.8vw; 
        line-height: 8.59375vw;
    }
    @media (max-width: 640px) {
        font-size: 2.5rem; 
        line-height: 8.59375vw;
    }
    @media (max-width: 639px) {
        font-size: 7.8125vw; 
        line-height: 8.59375vw;
    }    

    @media (max-width: 320px) {
       font-size: 9.375vw;
        line-height: 10.3125vw;
    }
}

.container h2 {
    font-size: 1.302vw;
    font-weight: 500 !important;
    max-width: 40vw;
    line-height: 1.563vw;
    @media (max-width: 1920px)  {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    @media (max-width: 1200px) {
        max-width: 46.6667vw;
    }
    @media (max-width: 900px) and  (min-width: 641px) {
        max-width: 70vw;
        font-size: 3.9vw;
    }
    @media (max-width: 640px) {
        max-width: 90vw;
        line-height: 1.5rem;
        font-size: 1.25rem;
    }
    @media (max-width: 639px)and (min-width: 576px){
        max-width: 90vw;
        font-size: 3.81vw;
    }
    @media (max-width: 577px) {
        max-width: 79vw;
    }
    @media (max-width: 430px) {
        font-size: 5.81vw;
    }
    @media (max-width: 320px) {
        font-size: 0.9rem !important;
        max-width: 75vw;
        line-height: 1.08rem;
    }
}
.take1{
    margin-top: 2rem;
    padding-bottom: 2rem;
    max-width: 58rem;
    position: relative;
    border-bottom: 1px solid #ADB5BD; 
    @media (max-width: 1000px) {
        margin-top: 4vw;
        padding-bottom: 4vw;
    }

    @media (max-width: 640px) {
        margin-top: 6.25vw;
        padding-bottom: 6.25vw;
    }
    @media (max-width: 380px) {
        margin-top: 1rem;
        padding-bottom: 1rem;
    }
}
.container p {
    margin-top: 1rem;
    color:  #343A40;
    font-size: 0.9rem !important;
    font-weight: 500 !important;
    line-height: 1.08rem;

    @media (max-width: 900px) and (min-width: 641px) {
       font-size: 2.807vw !important;
       margin-top: 3.119vw;
       line-height: 3.119vw;
    }
    @media (max-width: 640px) {
        margin-top: 1rem;
        font-size: 0.9rem !important;
    }
    @media (max-width: 639px) {
        margin-top: 3.13vw; 
        font-size: 2.8153vw !important;
    }
 
    @media (max-width: 430px) {
        font-size: 3.51vw !important;
    }


    @media (max-width: 320px) {
        font-size:  0.7rem !important;
        max-width: 12rem;
        margin-top: 0.5rem;
        line-height: 0.84rem;
    }
}
.take1_in{
    max-width: 53rem;
    display: none;
    @media (max-width: 640px) {
        max-width: 27rem;
    }
    @media (max-width: 375px) {

        max-width: 12rem;
    }
}
.image-button {
    position: absolute;  
    top: 0;             
    right: 0;           
    background-color: transparent;     
    border: none; 
    padding: 0;     
    cursor: pointer; 

}
.but_img {
    height: 2rem;
    width: 2rem;
}
.text_in2 h1{
    margin-top: 3rem;
}

.tk {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    @media (max-width: 1920px) {
        gap: 2rem;
    }
    @media (max-width: 1919px) {
        gap: 2.0833vw;
    }
    @media (max-width: 640px) {
        gap: 1rem;
    }
    @media (max-width: 639px) {
        gap: 3.125vw;
    }
    @media (max-width: 375px) {
        margin-top: 1rem;
        gap: 0.5rem !important;;
    }


}
.img_tk {

    width: 13rem;
    height: 8rem;
    display: inline-block;
    border-radius: 0.5rem;

    @media (max-width: 960px) {
        width: 15rem;
    }
    @media (max-width: 375px) {
        height: 5rem;
        margin: 0rem;
        width: 100%;
    }
}

#tkForm {
    display: flex;
    flex-direction: column; 
    gap: 0.5rem; 
    margin-top: 1rem;
}

#tkTitle {
    width: 100%; 
    height: 3rem; 
    padding: 0.5rem; 
    box-sizing: border-box; 
}

#tkImage {
    width: auto; 
    padding: 0.5rem; 
}



.tktk button {
    width: 10rem; 
    height: 2rem; 
    padding: 0.5rem; 
}

picture {

    @media (max-width: 640px) {
        height: 160px;
    }
    @media (max-width: 1920px) {
        height: 160px;
    }
    @media (max-width: 375px) {
        height: 100px !important;
    }
}
